<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Prediction</title>
</head>
<body>
    <h2>Enter Flower Measurements</h2>
    <form action="/predict" method="post">
        Sepal Length: <input type="text" name="sepal_length"><br>
        Sepal Width: <input type="text" name="sepal_width"><br>
        Petal Length: <input type="text" name="petal_length"><br>
        Petal Width: <input type="text" name="petal_width"><br><br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
